{% extends "base.jinja2" %}

{% block home_menu %} class="active" {% endblock home_menu %}
{% block content %}
    <h1 style="text-align: center">Welcome to Breakfast Advisor</h1>
    <h2 style="text-align: center">This page will be available soon</h2>
{% endblock content %}
