body, html{
     height: 100%;
 	background-repeat: no-repeat;
    background: -webkit-linear-gradient(#ffc655, #4CAF50); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffc655, #4CAF50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffc655, #4CAF50); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffc655, #47D347) fixed; /* Standard syntax */
 	font-family: 'Oxygen', sans-serif;
	    background-size: cover;
}
    .panel-transparent {
        background: none;
    }